.hidden {
	display: none;
}

body {
	background-color: #f8f8f8;
	font-family: system-ui, sans-serif;
}

button {
	cursor: pointer;
	transition: transform 100ms linear;
	background-color: #eee;
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 1px;
	border-color: #eee;
	transform: scale(1.00);
}

button:active {
	transform: scale(0.95);
}

input {
	border-width: 0;
}

.header-box {
	font-size: 500%;
	text-align: center;
	font-weight: bolder;
	color: rgba(47, 47, 47, 0.15);
}

.top-part {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5rem;
}
.add-input {
	flex: 1;
	font-size: x-large;
	outline: none;
	min-width: 8rem;
}

.toggle-all-button {
	width: 2.5rem;
	height: 2.5rem;
	margin: 0.5rem;
	background-size: contain;
	background-position: center;
}
.toggle-all-button.toggle-all-button-all-done:not(.toggle-all-button-disabled) {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuMjg1IDJsLTExLjI4NSAxMS41NjctNS4yODYtNS4wMTEtMy43MTQgMy43MTYgOSA4LjcyOCAxNS0xNS4yODV6Ii8+PC9zdmc+');
}
.toggle-all-button.toggle-all-button-disabled {
	background-color: transparent;
	border-color: transparent;
	pointer-events: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 95vh;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border-radius: 0.5rem;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 40rem;
	max-width: 100%;
}

.list-content:not(:empty) {
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.list-content {
	flex: 1;
	overflow-y: auto;
}
.list-item {
	flex-direction: row;
	justify-content: space-evenly;
	padding-inline-start: 0.5rem;
	padding-inline-end: 0.5rem;
}
.list-item:not(.hidden) {
	display: flex;
}

.done-button {
	width: 2.5rem;
	height: 2.5rem;
	margin: 0.5rem;
	background-size: contain;
	background-position: center;
}
.done-button.done-button-done {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuMjg1IDJsLTExLjI4NSAxMS41NjctNS4yODYtNS4wMTEtMy43MTQgMy43MTYgOSA4LjcyOCAxNS0xNS4yODV6Ii8+PC9zdmc+');
}

.item-input {
	flex: 1;
	font-size: x-large;
	min-width: 8rem;
	outline: none;
	color: rgba(0, 0, 0, 1.0);
	transition: color 400ms;
}
.item-input.item-input-done {
	text-decoration: line-through;
	color: rgba(0, 0, 0, 0.5);
}

.list-item:hover > .delete-button {
	display: block;	
}

.delete-button {
	color: #af5b5e;
	display: none;
	background: none;
	border: none;
	font-size: x-large;
}
.delete-button:after {
	content: '×';
}

.bottom-part {
	flex-direction: column;
	padding: 0.5rem;
}
.bottom-part:not(.hidden) {
	display: flex;
}
.bottom-labels {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 1.5rem;
}
.clear-button {
	background: none;
	border: none;
	font-size: medium;
}
.clear-button:hover {
	text-decoration: underline;
}
.filter-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0.5rem;
}
.filter-button {
	flex: 1;
	padding: 0.5rem;
	width: 6rem;
	margin: 0.5rem;
	cursor: pointer;
	transition: transform 100ms linear;
	background-color: #eee;
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 1px;
	border-color: #eee;
	text-align: center;
}
.filter-button > input[type="radio"] {
	display: none;
}
.filter-button-selected {
	border-color: rgba(47,47,47,1);
}
.footer {
	margin-top: 1em;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}