.hidden {
	display: none;
}

body {
	background-color: #f8f8f8;
}

button {
	cursor: pointer;
	transition: transform 100ms linear;
	background-color: #eee;
	border-style: solid;
	border-radius: 0.5em;
	border-width: 1px;
	border-color: #eee;
	transform: scale(1.00);
}

button:active {
	transform: scale(0.95);
}

input {
	border-width: 0;
}

.add-box {
	display: flex;
	flex-direction: row;
}
.add-input {
	flex: 1;
	font-size: x-large;
	padding: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
.item-input {
	font-size: large;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border-radius: 0.5em;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.list-item {
	margin-top: 0.5em;
	flex-direction: row;
	justify-content: space-evenly;
}
.list-item:not(.hidden) {
	display: flex;
}

.item-input {
	flex: 1;
}

.filter-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.filter-button {
	padding: 0.5em;
	width: 8em;
	margin: 1em;
}

.filter-button-selected {
	border-color: #7f1d1d;
}